<nav class="top-navbar">
  <div routerLink="/home" class="nav-logo">
    Price Monitor
  </div>
  <div class="nav-search">
    <input type="text" placeholder="Wklej link do produktu (np. Allegro, Amazon)..." />
    <button class="btn-primary">Śledź cenę</button>
  </div>
  <div class="nav-actions">
    <div class="nav-flags">
      <button class="flag-btn" (click)="switchLanguage('en')">
        <a href="https://www.flaticon.com/free-icons/united-states" style="display: none" title="united states icons">United states icons created by Freepik - Flaticon</a>
        <img src="assets/images/usa-flag.png"/>
      </button>
      <button class="flag-btn" (click)="switchLanguage('pl')">
        <a href="https://www.flaticon.com/free-icons/poland" style="display: none" title="poland icons">Poland icons created by Freepik - Flaticon</a>
        <img src="assets/images/poland-flag.png"/>
      </button>
    </div>
    <div class="nav-divider"></div>
    <div class="nav-auth">
      <button routerLink="/login" class="btn-secondary">{{ 'SIGN_IN' | translate }}</button>
      <button routerLink="/register" class="btn-primary">{{ 'SIGN_UP' | translate }}</button>
    </div>
  </div>
</nav>
